// COLORS

$color-default-font: rgb(50,50,50)
$color-article-title: #00468a
$color-image-caption: #465966
$color-footer-title: #939ca6
$color-footer-bg: #4d5359
$color-footer-line: #61666B

$color-goodnest: rgb(252,208,20)
$color-popin: #c22727


// SUSY



// STRUCTURE

*
  box-sizing: border-box

// FONT

body
  -webkit-font-smoothing: antialiased
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", "Helvetica", "Arial" sans-serif
  font-weight: 400

.logo
  font-size: 20px
  font-weight: 900

@mixin font-whitney
  font-family: 'Whitney SSm A', 'Whitney SSm B'
  // 400, 500 + italic, 700

h1
  color: $color-default-font
  margin: 0
  font-size: 36px
  font-weight: 400
h2
  font-weight: 400
  font-size: 20px
  color: rgb(140,140,140)
h4
  color: $color-default-font
p
  +font-whitney
  font-size: 15px
  line-height: 24px
  color: rgb(50,50,50)
a
  color: $color-default-font
  font-weight: 900
  &:link, &:visited, &:hover, &:active
    text-decoration: none


// ICO MOON

@font-face
  font-family: 'icomoon'
  src: url('/fonts/icomoon.eot?qrsrwx')
  src: url('/fonts/icomoon.eot?#iefixqrsrwx') format("embedded-opentype"), url('/fonts/icomoon.woff?qrsrwx') format("woff"), url('/fonts/icomoon.ttf?qrsrwx') format("truetype"), url('/fonts/icomoon.svg?qrsrwx#icomoon') format("svg")
  font-weight: normal
  font-style: normal  

.icon-back:before
  content: "\62"
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  font-size: 10px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Gradient mixin
=gradient($mode,$direction,$from,$to,$oldDirection:null)
  @if($oldDirection != null)
    background-image: -webkit-gradient($mode, #{$oldDirection}, from($from),to($to))   
  background-image: -webkit-#{$mode}-gradient($direction, $from, $to)
  background-image: -moz-#{$mode}-gradient($direction, $from, $to)
  background-image: -o-#{$mode}-gradient($direction, $from, $to)
  background-image: -ms-#{$mode}-gradient($direction, $from, $to)
  background-image: #{$mode}-gradient($direction, $from, $to)