body {
  -webkit-font-smoothing: antialiased;
  font-family: 'DINNextLTPro-Regular', 'Helvetica', 'Arial', sans-serif;
}

.index {
  padding: 17% 12% 120px;
}

.main {
  max-width: 560px
}

.title {
  font-size: 18px;
  color: #181C1F;
  margin-bottom: 9px;
}

.locationContainer {
  position: relative;
  padding-left: 16px;
  margin-bottom: 30px;
}

.locationIcon {
  background: image-url('location@3x.png') 0 0 / 10px 12px;
  width: 10px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 1px;
}

.locationTitle {
  font-size: 14px;
  color: #9BB2BD;
}

.body {
  font-size: 18px;
  color: #3D494F;
  margin-bottom: 28px;
}

.contactBtn {
  padding: 10px 0 1px;
  font-size: 18px;
  color: #007DCD;
  transition: all 200ms;
  text-decoration: none;
  border-bottom: 2px solid #D3E6F2;
  float: left;

  &:hover {
    border-bottom: 2px solid #8FD4FF;
  }
}