%nav
  .site-width
    = link_to 'back to all work', '/', class: 'nav-back-btn'
    .logo Felix Terpstra
    .phone +44 7463 930107
    .email= link_to 'felix@felixterpstra.com', 'mailto:felix@felixterpstra.com'