.divider
  display: block
  width: 100%
  height: 15px
  border-bottom: 1px solid #eef2f5
  clear: both
  padding: 40px 0 0 0
  .icon
    background: image-url('divider-icon@2x.png')
    background-size: 100% 100%
    width: 90px
    height: 30px
    margin: 0 auto
    display: block
    position: relative
    top: -15px

.article-header
  background: rgb(240,240,240)
  height: 560px
  padding: 160px 0 0 0
  position: relative
  z-index: 10

.article-header-container
  +span(9 of 20)

.article-header-title
  font-size: 46px
  font-weight: 300
  margin-bottom: 20px
  color: rgb(50,50,50)

.article-header-image
  +span(last 10 of 20)
  background: image-url('goodnest/header-image.jpg') no-repeat
  background-size: 100% auto
  height: 400px

.article-header-description
  font-size: 15px
  line-height: 24px
  color: rgb(50,50,50)

.article-title
  font-size: 44px
  font-weight: 300
  margin-bottom: 20px
  color: $color-article-title
  text-align: center
  padding: 100px 0 40px 0
  clear: both

.article-body
  position: relative
  background: white
  z-index: 10
  margin-bottom: 240px
  overflow: auto
  padding: 60px 0 100px 0

.last-item
  margin-bottom: 200px

.article-footer
  width: 100%
  height: 240px
  background: #4d5359
  position: fixed
  bottom: 0
  padding-top: 20px
  .block
    padding-top: 40px
    width: 50%
    float: left
    text-align: center
    height: 200px
    &.first
      border-right: 1px solid $color-footer-line

.article-footer-title
  font-size: 26px
  color: $color-footer-title
  font-weight: 300
  margin-bottom: 22px

.article-footer-body
  color: white
  font-size: 18px
  font-weight: 500
  line-height: 40px
  a
    color: white
    font-weight: 500

.copy-block
  display: block
  clear: both
  .column
    +span(1 of 2)
    margin-right: gutter(60px)
    &.last
      margin-right: 0

.image-left
  .column
    width: 50%
    float: left
    &.mobile-copy
      width: 40%
      p
        margin-top: 0

.mobile-mock
  padding: 30px 24px 20px 24px
  margin-right: 60px
  background: #e5e5e5
  float: right
  +border-radius(30px)
  &::after
    content: ""
    display: block
    margin: 14px auto 0
    background: #f5f5f5
    +border-radius(15px)
    height: 30px
    width: 30px
  img
    width: 240px
    height: auto

.image
  img
    width: 100%
    height: auto
  &.full-width
    width: 100%

.gif
  display: block
  margin: 0 auto

.hover-animation
  display: block
  cursor: pointer
  height: 340px
  position: relative
  +perspective(1000)
  .image
    z-index: 12
    overflow: hidden
    position: absolute
    transform-origin: 50% 0
    height: 340px
    +transition(all 300ms)
  .shadow
    background: rgba(0,0,0,.2)
    position: absolute
    width: 100%
    top: 100px
    height: 240px
    opacity: 0
    +transition(all 300ms cubic-bezier(0.250, 0.250, 0.390, 1.610))
    +filter(blur(2px))
  &:hover
    .image
      transform: rotateX(3deg)
    .shadow
      height: 248px
      opacity: 1
  &.active
    z-index: 30
    .image
      width: 100%
      height: auto
      +transition(all 300ms cubic-bezier(0.250, 0.250, 0.390, 1.610))
      +transform(translateY(-200px) scale(1.1))
      height: 100%
      &:hover
        +transform(translateY(-200px) scale(1.1))

.position-indicator
  display: none
  position: fixed
  top: 50%
  // background: rgba(255,255,255,0.9)
  padding: 10px
  z-index: 11
  .indicator
    background: #cbcbcb
    width: 3px
    height: 20px
    display: block
    margin-bottom: 6px
  .active
    background: #666666
    width: 4px

.bg
  background: black
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 20

.image-caption
  width: 80%
  margin: 0 auto
  display: block
  clear: both
  color: $color-image-caption
  font-style: italic
  text-align: center
  font-size: 13px
  padding: 20px 0 50px 0