nav
  position: absolute
  top: 0
  width: 100%
  z-index: 11
  padding-top: 38px
  color: #b2b2b2
  font-size: 14px
  font-weight: 500
  a
    color: #b2b2b2
    font-size: 14px
    font-weight: 500
    transition: color 0.5s
    &:hover
      color: rgb(60,60,60)
  .nav-back-btn
    float: left
    background-size: 6px 10px
    padding-left: 12px
    display: none
    &::before
      margin-right: 6px
  .logo
    float: left
    color: rgb(60,60,60)
    position: relative
    top: -2px
    font-size: 18px
  .email, .phone
    float: right

body.work
  nav
    .nav-back-btn
      display: block
    .logo
      display: none
