---
title: 'Felix Terpstra — User Interface Designer'
---

.header-bg

.hero
  %h1 I design and build interfaces for digital products and services

.site-width
  .case-studies
    %h2 Here is my latest work
    .case-study#goodnest
      = image_tag 'svg/logo-goodnest.svg', size: '46x46', class: 'svg'
      .tagline A fresh take on a clean home
      = link_to '/work/goodnest', class: 'btn-primary btn-work' do
        .icon
        %span Read about Goodnest
    .case-study#popin
      = image_tag 'svg/logo-popin.svg', size: '46x46', class: 'svg'
      .tagline The real world social network
      .btn-primary.btn-work.btn-disabled
        .icon
        %span Coming soon

.copy-width
  %p
    I also founded a business monitoring and data analysis platform called <a href='http://rwasher.com/stbd-wp/' target='_blank'>StatusBoard</a>, have worked on audio collaboration tool <a href='http://songcatcher.co/' target='_blank'>Songcatcher</a> and built websites for <a href='http://optidirect.co.nz/' target='_blank'>OptiDirect</a>, <a href='http://thedistiller.org/' target='_blank'>The Distiller</a> among others.