---
title: 'Felix Terpstra — Product Leadership'
---

.main
  .title Felix Terpstra
  .locationContainer
    .locationIcon
    .locationTitle London

  .body Product leadership specialising in startup environments.

  .body I have extensive experience in product management, user experience and user interface design, and frontend development in ReactJS and ReduxJS, in both startups and enterprise.

  = link_to 'Message Me', 'mailto:hello@felixterpstra.com', class: 'contactBtn'